[req]
prompt = no
distinguished_name = dn
x509_extensions = x509_ext

[dn]
CN = maldev.com
emailAddress = evil@maldev.com
O = Maldev
L = New York Cit
ST = New York
C = EU

[x509_ext]
basicConstraints = CA:FALSE
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer